@font-face {
    font-family: 'Prompt-Regular';
    src: url('/fonts/Prompt-Regular.ttf');
}

@font-face {
    font-family: 'Prompt-Medium';
    src: url('/fonts/Prompt-Medium.ttf');
}

@font-face {
    font-family: 'Prompt-Bold';
    src: url('/fonts/Prompt-Bold.ttf');
}

@font-face {
    font-family: 'RSU-Bold';
    src: url('/fonts/RSU-Text_Bold.ttf')
}

@font-face {
    font-family: 'RSU-Italic';
    src: url('/fonts/RSU-Text_Italic.ttf')
}

@font-face {
    font-family: 'RSU-Regular';
    src: url('/fonts/RSU-Text_Regular.ttf')
}

h1,
h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: 'Prompt-Medium';
}

.txt-regular {
    font-family: 'RSU-Regular';
}

.txt-bold {
    font-family: 'RSU-Bold';
}

body {
    background: url('../images/All_element/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text {
    font-size: 1.5rem;
    font-weight: 200
}

.text-link {
    font-size: 1.8rem;
    font-weight: 200
}

image {
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.card-wo-r {
    position: relative;
    /* display: flex; */
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.glowButton {
    background: #5778F3;
    border: 2px solid #5778F3;
    line-height: 40px;
    padding: 0 14px;
    transition: all .3s ease;
    color: #fff;
    box-shadow: 0 0 17px -2px #465093;
}

.glowButton:hover {
    background: #88a0fb;
    border-color: #88a0fb;
    box-shadow: 0 0 25px 1px #88a0fb;
    color: #fff;
}


/* - - - - - RATINGS */

body {
    -webkit-font-smoothing: antialiased;
}

.rating {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 170px;
    height: 40px;
    padding: 5px 10px;
    overflow: hidden;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating:not(:checked)>input {
    display: none;
}


/* - - - - - RATE */

#rate {
    top: -65px;
}

#rate:not(:checked)>label {
    cursor: pointer;
    float: right;
    width: 30px;
    height: 30px;
    display: block;
    color: rgba(0, 135, 211, .4);
    line-height: 33px;
    text-align: center;
}

#rate:not(:checked)>label:hover,
#rate:not(:checked)>label:hover~label {
    color: rgba(0, 135, 211, .6);
}

#rate>input:checked+label:hover,
#rate>input:checked+label:hover~label,
#rate>input:checked~label:hover,
#rate>input:checked~label:hover~label,
#rate>label:hover~input:checked~label {
    color: rgba(0, 135, 211, .8);
}

#rate>input:checked~label {
    color: rgb(0, 135, 211);
}


/* - - - - - LIKE */

#like {
    bottom: -65px;
}

#like:not(:checked)>label {
    cursor: pointer;
    float: right;
    width: 30px;
    height: 30px;
    display: block;
    color: rgba(233, 54, 40, .4);
    line-height: 33px;
    text-align: center;
}

#like:not(:checked)>label:hover,
#like:not(:checked)>label:hover~label {
    color: rgba(233, 54, 40, .6);
}

#like>input:checked+label:hover,
#like>input:checked+label:hover~label,
#like>input:checked~label:hover,
#like>input:checked~label:hover~label,
#like>label:hover~input:checked~label {
    color: rgba(233, 54, 40, .8);
}

#like>input:checked~label {
    color: rgb(233, 54, 40);
}


/* - - - - - Show review */

#columns-holder {
    -moz-columns: 100px;
    -webkit-columns: 100px;
    columns: 400px;
    -moz-column-gap: 10px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
}

.box {
    width: 100%;
    /* height: 130px; */
    margin-bottom: 20px;
    background: whitesmoke;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.like-icon {
    color: rgb(233, 54, 40);
}

.tags {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 24px;
    bottom: 4px;
    list-style: none;
}

.tags li,
.tags a {
    float: left;
    height: 26px;
    line-height: 24px;
    position: relative;
    font-size: 14px;
}

.tags a {
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: #0089e0;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.tags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 14px 0;
}

.tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
}


/* 
.tags a:hover {
    background: #555;
}

.tags a:hover:before {
    border-color: transparent #555 transparent transparent;
} */

.Del {
    margin: 0;
    position: absolute;
    right: 6px;
    top: 6px;
    list-style: none;
}